@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: "Inter", sans-serif;
    color: #212835;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 110px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.121);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}
